<div class="single-comment-container" id="comment-<%=j._id%>">
    <div>
        <div class="item-delete-container">
            <div class="content"><%=j.content%></div>
            <%
                if((locals.user) && (j.user._id.toString() == locals.user._id.toString())) 
                    {%> 
                    <a id="delete-link-comment-<%=j._id%>" class="delete-comment-link" href="/comments/delete-comment/?cId=<%=j._id%>&pId=<%=i._id%>&uId=<%=locals.user._id.toString()%>" type="submit">X</a> 
                <%}
            %>
        </div>
    </div>
    <div><%=j.user.name%></div>
    <div class="date-created"><%=j.createdAt%></div>
    <% if(locals.user) 
        {%> 
            <div class="like-container">
                <div><a class="like-link" href="/likes/toggle?id=<%=j._id%>&type=comment"><img id="likeable-<%=j._id%>" class="like-btn-img" data-likeable-id="<%=j._id%>" src="https://image.flaticon.com/icons/svg/633/633991.svg" alt="like-btn-post"></a></div>
                <div class="like-text">Like</div>
                <% 
                    if(i.likes.length>0) {%> 
                        <div class="like-count"><%=i.likes.length%></div>    
                    <%}
                %>
            </div>    
        <%}
    %>
</div>