<div class="single-comment-container" id="comment-<%=j._id%>">
    <div>
        <div class="item-delete-container">
            <div class="content"><%=j.content%></div>
            <%
                if((locals.user) && (j.user._id.toString() == locals.user._id.toString())) 
                    {%> 
                    <a href="/comments/delete-comment/?cId=<%=j._id%>&pId=<%=i._id%>&uId=<%=j.user._id%>" type="submit" class="delete-comment-button">X</a> 
                <%}
            %>
        </div>
    </div>
    <div><%=j.user.name%></div>
    <div class="date-created"><%=j.createdAt%></div>
</div>