<div id="post-<%=i._id%>" class="single-post-container">
    <div>
       <div class="item-delete-container">
            <div class="content"><%= i.content %></div>
            <%  
                if((locals.user) && (i.user._id.toString() == locals.user._id.toString())) 
                {%>
                    <div><a id="link-<%=i._id%>" class="delete-post-link" href="/posts/delete-post/?postOwner=<%=i.user._id%>&postId=<%=i._id%>">X</a></div>
                <%}
            %>
        </div>    
    </div>

    <div><%= i.user.name %></div>
    <div class="date-created"><%= i.createdAt %></div>

    <% if(locals.user) 
        {%> 
            <div>
                <form id="new-comment-form-<%=i._id%>" class="comment-submit-form" method="POST" action="/comments/post-comment/?post=<%= i._id %>&user=<%= locals.user._id %>">
                    <textarea name="content" cols="30" rows="1"></textarea>
                    <button type="submit">Post Comment</button>
                </form>
            </div>
            <div class="like-container">
                <div><a href="/likes/like-post"><img class="like-btn-img" src="https://image.flaticon.com/icons/svg/633/633991.svg" alt="like-btn-post"></a></div>
                <div class="like-text">Like</div>
                <div class="like-text">123</div>
            </div>    
        <%}
    %>

    <div class="comments-container" id="comments-container-post-<%=i._id%>">
    <% 
        for(let j of i.comments) 
        {%> 
            <%- include('_comment', {i:i, j:j}) -%>
        <%} 
    %>
    </div>
</div>