<link rel="stylesheet" type="text/css" href="/css/user_profile.css">
<h1> Codeial/Profile Page </h1>

<section id="user-profile">
    <div class="profile-col">
        <div class="update-field-container">
            <%
                if(locals.user._id.toString()==currUser._id.toString()) 
                {%> 
                    <form method="POST" action="/users/profile/update/?uId=<%=currUser._id%>">
                        <div class="fields-container">
                            <div class="field grow">
                                <input type="text" name="name" value="<%=locals.user.name%>" size="30" placeholder="Your Name" required>
                            </div>    
                        </div>
                        <div class="fields-container">
                            <div class="field grow">
                                <input type="email" name="email" value="<%=locals.user.email%>" size="30" placeholder="Your Email" required>
                            </div> 
                        </div>
                        <div class="fields-container">
                            <div><button type="submit">Submit</button></div>
                        </div>
                    </form>
                <%}
                else 
                {%> 
                    <div class="fields-container">
                        <div class="field">
                            <%=currUser.name%>
                        </div> 
                        <div class="field">
                            <div><%=currUser.email%></div>
                        </div> 
                    </div>
                <%}
            %>
        </div>
    </div>
</section>


